@* This is a default page of MVC application
    There is no use of this page as of now.
 *@
@{
    Layout = "~/Shared/HeaderFooter.cshtml";
}
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <style type="text/css">
    
    
    </style>
</head>
<body>
   
</body>
</html>
