
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>PasswordInfo</title>
</head>
<body>
    <div>
        <h3>
            The password should contain a minimum length of 8 characters.
        </h3>
    </div>
</body>
</html>
