
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>PhoneInfo</title>
</head>
<body>
    <div>
        <h3>The example input format for phone number is 999-999-9999</h3>

    </div>
</body>
</html>
